In [1]:
# Function to read and merge all csv files in a folder

def csvfilesReadMerge(folder_path,new_file_name):
    """
    Docstring : This functions takes multiple csv files having same schema and combine them 
    to form a single large file.
    Parameters 
    folder_path   : str enclosed in double inverted commas ("")
    Absolute path of folder where files are located.
    new_file_name : str enclosed in double inverted commas ("")
    Name of file which will be formed after combining all files. 
    """
    import pandas as pd
    import os
    import glob
    
    files = os.path.join(folder_path , "*csv")
    list_of_files = glob.glob(files)     # This will give list of files with their absolute path
    
    df = pd.concat(map(pd.read_csv , list_of_files) , ignore_index=True) # read_csv files and concat them
    df.to_csv(new_file_name,index=False) # save files to store them as single csv file
    print(f"Successfully created the file '{new_file_name}' at location :\n{os.getcwd()}")

In [2]:
csvfilesReadMerge("D:/ML Course Content/Full Stack Data Science Videos/Data Analysis/Data Analyst Projects/Business Analytics/amazon sales raw data","AllYearSales.csv")

Successfully created the file 'AllYearSales.csv' at location :
D:\ML Course Content\Full Stack Data Science Videos\Data Analysis\Data Analyst Projects\Business Analytics\Final Files

In [3]:
import pandas as pd
df=pd.read_csv("allyearsales.csv")
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [4]:
# function to perform basic eda operations like null value count, datatype of columns ,shape of data
def basic_eda(pandas_dataframe_object):
    """
    Docstring : This function gives basic info about the dataframe.
    Information returned by the Function are : 
    Shape, (ColumnName, Non-Null Count, Dtype) using info() function and Null Values in the dataset using isna().sum()
    Parameters 
    pandas_dataframe_object : Variable
    Object of pandas dataframe in which dataset is loaded.
    """
    print(f"Shape of data : {pandas_dataframe_object.shape}\n{'-'*50}") 
    print(f"{pandas_dataframe_object.info()}\n{'-'*50}")
    print(f"Count of null values in columns :\n{pandas_dataframe_object.isna().sum()} \n{'-'*50}")
basic_eda(df)

Shape of data : (186850, 6)
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB
None
--------------------------------------------------
Count of null values in columns :
Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64
--------------------------------------------------

In [5]:
# In the dataframe there are some rows which are completely null so dropping them
Final_data = df.dropna()

In [6]:
basic_eda(Final_data)

Shape of data : (186305, 6)
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 186305 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB
None
--------------------------------------------------
Count of null values in columns :
Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64
--------------------------------------------------

In [7]:
# For Analysis we need City and State columns
Final_data[[ 'City', 'State']] = Final_data['Purchase Address'].str.split(',', expand=True).loc[:,1:]

C:\Users\Amit Sangwan\anaconda3\envs\ML Projects\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [8]:
# Dropping Purchase Address from Dataframe as we have extracted City and State Columns
Final_data = Final_data.drop('Purchase Address' , axis =1)

In [9]:
Final_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,City,State
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,Dallas,TX 75001
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,Boston,MA 02215
3,176560,Google Phone,1,600,04/12/19 14:38,Los Angeles,CA 90001
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,Los Angeles,CA 90001
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,Los Angeles,CA 90001

In [10]:
# As we can see State Column contains Postal Code which is not needed for Analysis so Extracting only State name
Final_data['State'] = Final_data['State'].str.split(" ",expand=True).loc[:,1]

In [11]:
# Matching names with their Abbrevation and replacing Abbrevation in State Column with full name of state
state_name = {"NY":"New York", "CA":"California", "TX":"Texas", "WA":"Washington", "GA":"Georgia", "MA":"Massachusetts",
              "OR":"Oregon", "ME":"Maine"}
Final_data['State'] = Final_data['State'].map(state_name)

In [12]:
Final_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,City,State
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,Dallas,Texas
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,Boston,Massachusetts
3,176560,Google Phone,1,600,04/12/19 14:38,Los Angeles,California
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,Los Angeles,California
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,Los Angeles,California

In [13]:
basic_eda(Final_data)

Shape of data : (186305, 7)
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 186305 entries, 0 to 186849
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   City              185950 non-null  object
 6   State             185950 non-null  object
dtypes: object(7)
memory usage: 11.4+ MB
None
--------------------------------------------------
Count of null values in columns :
Order ID              0
Product               0
Quantity Ordered      0
Price Each            0
Order Date            0
City                355
State               355
dtype: int64
--------------------------------------------------

In [14]:
# As we can see some rows in City and State Column are missing , so we have to drop those rows because they will create 
# problem in city and state wise Sales and Revenue Analysis
Final_data.dropna(inplace=True)

In [15]:
# Datatype of OrderID ,Quantity Ordered and Price Each Column is Object which is wrong so changing it to correct dtype
Final_data['Order ID'] = pd.to_numeric(Final_data['Order ID'])
Final_data['Quantity Ordered'] = pd.to_numeric(Final_data['Quantity Ordered'])
Final_data['Price Each'] = pd.to_numeric(Final_data['Price Each'])
Final_data['Order Date'] = pd.to_datetime(Final_data['Order Date'],infer_datetime_format=True)

In [16]:
basic_eda(Final_data)

Shape of data : (185950, 7)
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  datetime64[ns]
 5   City              185950 non-null  object
 6   State             185950 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 11.3+ MB
None
--------------------------------------------------
Count of null values in columns :
Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
City                0
State               0
dtype: int64
--------------------------------------------------

__Now we will derive Category Column from Product Column__

In [17]:
Final_data['Product'].unique()

array(['USB-C Charging Cable', 'Bose SoundSport Headphones',
       'Google Phone', 'Wired Headphones', 'Macbook Pro Laptop',
       'Lightning Charging Cable', '27in 4K Gaming Monitor',
       'AA Batteries (4-pack)', 'Apple Airpods Headphones',
       'AAA Batteries (4-pack)', 'iPhone', 'Flatscreen TV',
       '27in FHD Monitor', '20in Monitor', 'LG Dryer', 'ThinkPad Laptop',
       'Vareebadd Phone', 'LG Washing Machine', '34in Ultrawide Monitor'],
      dtype=object)

In [18]:
def product_category(dataframe, column_name, product_name_ends_with, category_name):
    """
    Docstring : This function is created 'Category' column in dataframe.
    Parameters  
    dataframe : Variable
    Object of pandas dataframe of dataset
    column_name : str enclosed in double inverted commas ("")
    Name of Column where product_name is given
    product_name_ends_with : str enclosed in double inverted commas ("") 
    Name of product with which it ends which will help in identifing the product
    category_name : str enclosed in double inverted commas ("")
    Category name which will be assigned to the product, if found
    """
    index_list=dataframe[dataframe[column_name].str.endswith(product_name_ends_with)==True].index
    dataframe.loc[index_list,"Category"]= category_name
    print(f"'Category' column created Successfully for Category '{category_name}'")

In [19]:
product_category(Final_data, "Product", "Charging Cable", "Charging Cable")

'Category' column created Successfully for Category 'Charging Cable'

In [20]:
product_category(Final_data, "Product", "Headphones", "Headphones")

'Category' column created Successfully for Category 'Headphones'

In [21]:
product_category(Final_data, "Product", "Phone", "Phone")

'Category' column created Successfully for Category 'Phone'

In [22]:
product_category(Final_data, "Product", "Laptop", "Laptop")

'Category' column created Successfully for Category 'Laptop'

In [23]:
product_category(Final_data, "Product", "Monitor", "Monitor")

'Category' column created Successfully for Category 'Monitor'

In [24]:
product_category(Final_data, "Product", "Batteries (4-pack)", "Batteries")

'Category' column created Successfully for Category 'Batteries'

In [25]:
product_category(Final_data, "Product", "TV", "TV")

'Category' column created Successfully for Category 'TV'

In [26]:
product_category(Final_data, "Product", "Dryer", "Dryer")

'Category' column created Successfully for Category 'Dryer'

In [27]:
product_category(Final_data, "Product", "Washing Machine", "Washing Machine")

'Category' column created Successfully for Category 'Washing Machine'

In [28]:
Final_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,City,State,Category
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,Dallas,Texas,Charging Cable
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,Boston,Massachusetts,Headphones
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,Los Angeles,California,Phone
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,Los Angeles,California,Headphones
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,Los Angeles,California,Headphones

In [29]:
Final_data.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
City                0
State               0
Category            0
dtype: int64

### Now there are no null values, column datatype is correct and also derived neccessary columns. So we will create a new csv file with this dataframe.

In [30]:
Final_data.to_csv('AllYearSales.csv',index=False)